body {
  margin: 0;
  padding: 0;
  background-color: c7cfb7;
}
.jumbotron {
  background: url("images/background/karibu.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 30%;
}
#greetings {
  padding-left: 2%;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 2.5px;
  word-spacing: 20px;
  font-family: "Hanalei", cursive;
}
#jumbotron2 {
  margin-top: 0;
  padding-top: 0;
  background: none;
  height: 20%;
  font-size: x-large;
  margin-bottom: 0;
  padding-bottom: 0;
}
.display1 {
  font-family: "Righteous", cursive;
}
.display2 {
  font-family: "Monoton", cursive;
  letter-spacing: 5px;
}
.display3 {
  font-family: "Knewave", cursive;
}
.messengers {
  color: aliceblue;
}
#jumbotron3 {
  background: url("images/background/shopping.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 40%;
}
.card-img-top {
  width: 100%;
}
#jumbotron4 {
  background: url("images/background/nlxvbp.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 40%;
}
#jumbotron5 {
  background: url("images/background/ThankYou.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 40%;
}

/*
Media query to help handle resizing the first jumbotron*/
@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 15%;
  }
}