body {
  margin: 0;
  padding: 0;
}
.jumbotron {
  background: url("images/background/tz1611933264.jpg");
  background-attachment: fixed;
  height: 30%;
}
#greetings {
  padding-left: 2%;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 2.5px;
  word-spacing: 20px;
  font-family: "Hanalei", cursive;
}
.container1 {
  margin-top: 0;
  padding-top: 0;
}
#jumbotron2 {
  margin-top: 0;
  padding-top: 0;
  background: none;
  height: 20%;
  font-size: x-large;
  margin-bottom: 0;
  padding-bottom: 0;
}
.display1 {
  font-family: "Righteous", cursive;
}
.display2 {
  font-family: "Monoton", cursive;
  letter-spacing: 5px;
}
.display3 {
  font-family: "Knewave", cursive;
}
.messengers {
  color: aliceblue;
}
#jumbotron3 {
  background: url("images/owner/IMG_1968\ \(3\).JPG");
  background-attachment: fixed;
  height: 40%;
}
.card-img-top {
  width: 100%;
}
